*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background: #fff;
    color: #662d91;
}
#header{
    width: 100%;
    height: 100vh;
    /*--background-image: url(/Users/manvendrasingh17105/Desktop/Urvashi/urvashi_enterprises_logo.jpg);--*/
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10% ;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 160px;
    display: flex;
    align-items: center;
    
}

nav ul li {
    display:inline;
    list-style: none;
    margin-right: 20px;
}



.nav ul li a{
    padding : 10px;
    display: block;
    font-weight: bold !important;
    color: #662d91 !important;
    background: #222;
    border: 2px solid #222;
    /*-webkit-transform: translateZ(0);*/
    transform: translateZ(0);
    /*-webkit-backface-visibility: hidden;*/
    backface-visibility: hidden;
    position: relative;
    /*-webkit-transition-property: color;*/
    transition-property: color;
    /*-webkit-transition-duration: 0.5s;*/
    transition-duration: 0.5s;
}
